@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../index.scss";

.text-styleColor-50 {
    color: $styleColor-50;
}

.text-styleColor-100 {
    color: $styleColor-100;
}

.text-styleColor-200 {
    color: $styleColor-200;
}

.text-styleColor-300 {
    color: $styleColor-300;
}

.text-styleColor-400 {
    color: $styleColor-400;
}

.text-styleColor-500 {
    color: $styleColor-500;
}

.text-styleColor-600 {
    color: $styleColor-600;
}

.text-styleColor-700 {
    color: $styleColor-700;
}

.text-styleColor-800 {
    color: $styleColor-800;
}

.text-styleColor-900 {
    color: $styleColor-900;
}

.text-styleColor-950 {
    color: $styleColor-950;
}


.bg-styleColor-50 {
    background-color: $styleColor-50;
}

.bg-styleColor-100 {
    background-color: $styleColor-100;
}

.bg-styleColor-200 {
    background-color: $styleColor-200;
}

.bg-styleColor-300 {
    background-color: $styleColor-300;
}

.bg-styleColor-400 {
    background-color: $styleColor-400;
}

.bg-styleColor-500 {
    background-color: $styleColor-500;
}

.bg-styleColor-600 {
    background-color: $styleColor-600;
}

.bg-styleColor-700 {
    background-color: $styleColor-700;
}

.bg-styleColor-800 {
    background-color: $styleColor-800;
}

.bg-styleColor-900 {
    background-color: $styleColor-900;
}

.bg-styleColor-950 {
    background-color: $styleColor-950;
}


.border-styleColor-50 {
    border-color: $styleColor-50;
}

.border-styleColor-100 {
    border-color: $styleColor-100;
}

.border-styleColor-200 {
    border-color: $styleColor-200;
}

.border-styleColor-300 {
    border-color: $styleColor-300;
}

.border-styleColor-400 {
    border-color: $styleColor-400;
}

.border-styleColor-500 {
    border-color: $styleColor-500;
}

.border-styleColor-600 {
    border-color: $styleColor-600;
}

.border-styleColor-700 {
    border-color: $styleColor-700;
}

.border-styleColor-800 {
    border-color: $styleColor-800;
}

.border-styleColor-900 {
    border-color: $styleColor-900;
}

.border-styleColor-950 {
    border-color: $styleColor-950;
}


.fill-styleColor-50 {
    fill: $styleColor-50;
}

.fill-styleColor-100 {
    fill: $styleColor-100;
}

.fill-styleColor-200 {
    fill: $styleColor-200;
}

.fill-styleColor-300 {
    fill: $styleColor-300;
}

.fill-styleColor-400 {
    fill: $styleColor-400;
}

.fill-styleColor-500 {
    fill: $styleColor-500;
}

.fill-styleColor-600 {
    fill: $styleColor-600;
}

.fill-styleColor-700 {
    fill: $styleColor-700;
}

.fill-styleColor-800 {
    fill: $styleColor-800;
}

.fill-styleColor-900 {
    fill: $styleColor-900;
}

.fill-styleColor-950 {
    fill: $styleColor-950;
}


.accent-styleColor-50 {
    accent-color: $styleColor-50;
}

.accent-styleColor-100 {
    accent-color: $styleColor-100;
}

.accent-styleColor-200 {
    accent-color: $styleColor-200;
}

.accent-styleColor-300 {
    accent-color: $styleColor-300;
}

.accent-styleColor-400 {
    accent-color: $styleColor-400;
}

.accent-styleColor-500 {
    accent-color: $styleColor-500;
}

.accent-styleColor-600 {
    accent-color: $styleColor-600;
}

.accent-styleColor-700 {
    accent-color: $styleColor-700;
}

.accent-styleColor-800 {
    accent-color: $styleColor-800;
}

.accent-styleColor-900 {
    accent-color: $styleColor-900;
}

.accent-styleColor-950 {
    accent-color: $styleColor-950;
}


.stroke-styleColor-50 {
   stroke: $styleColor-50;
}

.stroke-styleColor-100 {
    stroke: $styleColor-100;
}

.stroke-styleColor-200 {
    stroke: $styleColor-200;
}

.stroke-styleColor-300 {
    stroke: $styleColor-300;
}

.stroke-styleColor-400 {
    stroke: $styleColor-400;
}

.stroke-styleColor-500 {
    stroke: $styleColor-500;
}

.stroke-styleColor-600 {
    stroke: $styleColor-600;
}

.stroke-styleColor-700 {
    stroke: $styleColor-700;
}

.stroke-styleColor-800 {
    stroke: $styleColor-800;
}

.stroke-styleColor-900 {
    stroke: $styleColor-900;
}

.stroke-styleColor-950 {
    stroke: $styleColor-950;
}